.format-buttons-divider
{
	padding-left: 10px;
	display: inline;	
}

.format-buttons-group
{
	display: inline;
}

#text
{
	height: 370px;
	min-height: 250px;
}

#format-buttons
{
	padding-bottom: 10px;
}

#text-preview
{
	display: none;
	overflow: auto;	
	background: #fff;
	border-color: #CCC;
	border-radius: 2px;
	border: 1px solid;
	padding: 6px 12px;
}

.CodeMirror
{
	border: 1px solid #CBD5DD;
}

.spell-error {
    border-bottom: 1px dotted #f00;
}