.modal-background
{
	background: rgba(34, 39, 51, 0.9);
	z-index: 100000;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}

.no-margin
{
	margin: 0 !important;
}

.markdown-code
{
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	border-radius: 4px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	background: #eee;
}

.users-count-wrapper
{
	display: none;
}